google-api-python-client
google-auth-httplib2
google-auth-oauthlib
beautifulsoup4
lxml
newspaper3k
nltk
requests
feedparser
curl_cffi
selenium
slack_sdk
stamina
python-dotenv
lxml_html_clean
pyvis networkx
