This file lists the Python dependencies for the OSINT Aggregator project.
To install all of them, run the following command in your activated virtual environment:
pip install -r requirements.txt

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
beautifulsoup4
lxml
newspaper3k
nltk
lxml_html_clean
requests
feedparser
curl_cffi
selenium
